body {
    background-color: #fff;
}

.card-header {
text-align: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.container{
    margin-top: 200px;
}
input{
    width: 100px;
}
